# Basic Python Programming Assignment 23

In [3]:
'''Q1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True'''

def is_symmetrical(num):
    a = str(num)
    b = a[::-1]
    if a == b:
        print(True)
    else:
        print(False)

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

True
False
True
False
True

In [5]:
'''Q2. Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20'''

def multiply_nums(string):
    l = string.split(", ")
    mul = 1
    for i in l:
        mul = mul * int(i)
    print(mul)

multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

6
24
0
-20

In [18]:
'''Q3. Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.'''

def square_digits(number):
    s = str(number)
    for i in s:
        mul = int(i)*int(i)
        print(mul, end = "")
    print()
square_digits(9119)        
square_digits(2483)
square_digits(3212)

811181
416649
9414

In [19]:
'''Q4. Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]'''

def setify(lst):
    lst = set(lst)
    lst = list(lst)
    return lst

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [20]:
'''Q5. Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.'''
import statistics
def mean(number):
    l = []
    for i in str(number):
        l.append(int(i))

    mean = statistics.mean(l)
    return mean


print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6